
    {{log "!!!!!!!!!!!!"}}
    {{log this}}
    <div class="SIM-window">
    <div class="SIM-chat-lane">
    {{#each this.msgs as |message key| }}
    <li class="chat-message message flexcol {{cssClass}}" data-message-id="{{message._id}}" {{#if borderColor}}style="border-color:{{borderColor}}"{{/if}}>
        <header class="message-header flexrow">
            <h4 class="message-sender">{{alias}}</h4>
            <span class="message-metadata">
                <time class="message-timestamp">{{timeSince message.data.timestamp}}</time>

            </span>
    
            {{#if isWhisper}}
            <span class="whisper-to">{{localize 'CHAT.To'}}: {{whisperTo}}</span>
            {{/if}}
    
            {{#if message.data.flavor}}
            <span class="flavor-text">{{{message.flavor}}}</span>
            {{/if}}
        </header>
        <div class="message-content">
            {{{message.data.content}}}
        </div>
    </li>
{{/each}}    
</div>
    <textarea class="salon-editor-area IMfix" placeholder="type a private message here">{{this.msg}}</textarea>
</div>
