<div id="salon-handle"></div>
<div id="salon-handle-top"></div>
<div id="salon-handle-left"></div>
<div id="salon-handle-right"></div>
<div id="salon-chat-bounding-box">

<!--<div id="salon-overlay" class="">-->
  <div id="salon-chat-lane">
  </div>
  
  </div>
  
<div id="salon-roll-lane">
  <div class="roll-log">
  </div>
</div>
<!--</div>-->
