
#salon-overlay > section {
    padding: 0;
    background: none;

}

#salon-handle {
    position: absolute;
    bottom: -1.5rem;
    width: 100%;
    height: 20px;
    text-align: center;
    /* cursor: row-resize; */
    background: rgba(0,0,0,.8);
    border-radius: 10px;
    color: rgba(255,255,200,1);
    box-shadow: 0 0 20px #000;

}

#salon-overlay{
    height: 12vw;
    width: 60vw;
    min-height: 20vh;
    min-width: 500px;
   /* pointer-events: none;*/
}

#sidebar-tabs > a:nth-child(1) {
    display:none;
}


#sidebar {
    height:340px;
    width: 275px;
    max-height:690px;
    position: fixed !important;
    top: 5px !important;
    right: 5px !important;
}

#navigation {
    text-align: right;
    position: fixed;
    top: initial;
    left: initial;
    bottom: 2px;
    right: 275px;
    width: calc(50% - 250px);
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
    border: none;
}

#scene-list {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
}

#navigation.app.flexrow{
    display: flex;
    flex-flow: row-reverse wrap-reverse;
}
#salon-roll-lane {
    
    width: 275px;
    max-width: 275px;
    position: fixed;
    bottom: 10px;
    right: 4px;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    color: rgba(255,255,200,1);
    box-shadow: 0 0 20px #000;

}


.chat-old {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: absolute;
    height: calc(100% - 45px);
    width: 100%;
    /* right: 11vw; */
    /* padding-top: .25%; */
    /* bottom: 10%; */
    background: rgba(0,0,0,0.8);
    color: rgba(225,225,200,1);
    /* z-index: 29; */
    padding-bottom: .5em;
}

.tabbedchatlog.tabs {
    flex: 1 0 auto !important;
    margin: 0 0 5px;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px red;
    position: relative;
    top: -25px;
    left: 25%;
    max-width: 50%;
    min-width: 250px;
}

#chat-log {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    align-content: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    width: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    max-height: inherit;
    border: 1px solid rgba(255,255,200,.8);
    border-radius: 10px;
    height: calc(100%);
}



.roll-log {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: fixed;
    height: 25vh;
    right: 5px;
    bottom: 38px;
    width: 275px !important;
    /* right: 11vw; */
    padding-top: .25%;
    /* bottom: 10%; */
    /* z-index: 29; */
    padding-bottom: .5em;
    flex: 1;
    z-index: -1;
    /* height: calc(100% - 130px); */
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    background: rgba(0,0,0,0.8);
    color: rgba(255,255,200,.8) !important;
}


#chat-log .message {
    height: fit-content;
    width: 100%;
    flex: 1 0 auto;
    margin: 0 6px 6px;
    border: none;
    border-radius: none;
    margin: 0;
    background: initial !important;
    color: rgba(225,225,200,1);

}




.chat-message .message-header {
    line-height: 20px;
    color: inherit;
}
.type0 {
    display:block !important;
}



.type4 {
    margin-left: 1rem !important;
    border: 1px double rgb(203, 124, 255) !important;
    max-width: 97%;
    color: rgb(203, 124, 255) !important;
}


#salon-chat-lane {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        position: absolute;
        height: calc(100% - 60px);
        width: 100%;
        /* right: 11vw; */
        /* padding-top: .25%; */
        /* bottom: 10%; */
        /* background: rgba(0,0,0,0.8); */
        color: rgba(225,225,200,1);
        /* z-index: 29; */
        padding-bottom: .5em;
}

#salon-chat-lane .salon-chat-entry{
    width: 100%;
    flex: 0 1 auto;
    margin: 0 6px 6px;
    position: absolute;
    bottom: -31px;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(255,255,200,.8);
    border-radius: 10px;
    min-height: 75px;
    max-height: 75px;
}

#chat-form textarea {
    background: rgba(0,0,0,0.8);
    color: rgba(225,225,200,.8);
    caret-color: rgba(225,225,200,.8);
}
.CodeMirror-cursor {
    border-left: 1px solid rgba(255,255,200,1);
    border-right: none;
    width: 0;
}


#chat-log .message.emote {
    text-align: left;
    font-style: italic;
    background: inherit;
    border: none;
}

.message-metadata{
    color:rgba(225,225,200,1);
    
}
[data-tab='ic'] {
    min-width: 120px;
}
[data-tab='ooc'] {
    min-width: 120px;
}
#chat-form .cm-s-easymde {
    width: 100%;
    height: 100%;
    resize: none;
    background: rgba(0,0,0,0.8);
    color: rgba(225,225,200,.8);
    caret-color: rgba(225,225,200,.8);
    padding: 0;
}

#icNotification {
    top: 0px !important;
    left: 1% !important;
    pointer-events: none;
}

#oocNotification {
    top: 0px !important;
    right: 1% !important;
    pointer-events: none;
}

.type3 h4 {
    display: none;
}

#chat-log .message .message-header {
    color: inherit;
    
}


[id^="SIM-"] .window-content {
    background: rgba(0,0,0,0.3);
}
[id^="SIM-"] .message {
    height: fit-content;
    width: 100%;
    flex: 1 0 auto;
    margin: 0 6px 6px;
    border: none;
    border-radius: none;
    margin: 0;
    background: initial !important;
    color: rgba(225,225,200,1);

}

[id^="SIM-"] .message-content {
height: fit-content;
width: 100%;
flex: 1 0 auto;
margin: 0 6px 6px;
border: none;
border-radius: none;
margin: 0;
background: initial !important;
color: rgba(225,225,200,1);
}

[id^="SIM-"] .chat-message .message-header {
    line-height: 20px;
    color: inherit;
}

[id^="SIM-"] .SIM-window {
    display: flex;
    flex: 1,0,auto;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}



[id^="SIM-"] .SIM-chat-lane {
        /*start flex settings for overall pane*/
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 75%;
        /*end of flex stuff*/
        /* right: 11vw; */
        /*padding-top: .25%;*/
        /* bottom: 10%; */
        /*background: rgba(0,0,0,0.8);*/
        color: rgba(225,225,200,1);
        /*z-index: 29;*/
        padding-bottom: .5em;
}

.type3 h4 {
    display: none;
}

#chat-log .message .message-header {
    color: inherit;
    
}
.sim-window{
    min-width: 15vw;
    width: 20vw;
    max-width: 40vw;
    min-height: 15vh;
    height: 20vh;
    max-height: 40vh;
}



.message-sender {
    height: fit-content;
    max-width: fit-content;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: .25em;
    color: inherit;
}


.message-content{
    font-size: .95rem;
 
}

.typing-notify {
    overflow-wrap: break-word;
    max-height: 15px;
    font-size: .8rem;
    background: none;
    color: inherit;
    border-radius: 3px;
    -webkit-transition: max-height .3s ease-out;
    -moz-transition: max-height .3s ease-out;
    -ms-transition: max-height .3s ease-out;
    -o-transition: max-height .3s ease-out;
    transition: max-height .3s ease-out;
    position: absolute;
    width: 30%;
    height: 15px;
    bottom: 0;
    display: block;
    left: 10px;
    right: 0px;
    /* z-index: 999999; */
    text-align: left;
}
.salon-editor-area {
    height: 22%;
    width: 100%;
    color: rgba(0,0,0,.8);
    caret-color: rgba(0,0,0,.8);
    resize: none;
}

.card-header h3 {
    color: rgba(225,225,200,.8)
}

.card-buttons button{
    color: rgba(225,225,200,.8)
}

.card-header h3 {
    color: rgba(225,225,200,.8) !important;
}


#salon-handle-top {
    position: absolute;
    top:-.50rem;
    height: .50rem;
    width: 100%
    
}

#salon-handle-left {
    position: absolute;
    top: 0px;
    left: -.50rem;
    height: calc(100% + 30px);
    width: .50rem;
}
#salon-handle-right {
    position: absolute;
    top: 0px;
    right: -.50rem;
    height: calc(100% + 30px);
    width: .50rem;
    
}

.typing-notify.hidden {
	max-height: 0px;
	color: transparent;
}

#macro-list {
    flex-wrap: nowrap;
}

#combat-carousel.wrapper {
    top: 0;
    z-index: 200;
}

h4.message-sender::before{
    content:"<"
}

h4.message-sender::after{
    content:">"
}

.narrator-chat.narrator-narrative > header > h4::before{
    content:"";
}
.narrator-chat.narrator-narrative > header > h4::after{
    content:"";
}
.salonUser {
    margin-right: 5px;
    color: rgba(255,255,200,.3)
}
[class^="table-result flexrow"] .entity-link {
background:#000    
}

.polyglot-lang-select {
    position: absolute;
    top: -30px;
    
}

.IMfix {
    color: rgba(225,225,200,.8);
    caret-color: rgba(225,225,200,.8);
    border: 1px solid rgba(255,255,200,.8);
    border-radius: 10px;
}


.dice-tray {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    position: absolute;
    bottom: -50px;
    max-height: 3.125rem;
    max-width: 10.1875rem;
}